      *{
  margin:0;
  padding:0;
  box-sizing:border-box;
 } 

 body{
  font-family: cursive;
  background-image: linear-gradient(107deg,#000000,#222831);
  background-repeat: no-repeat;
  height:auto;
 }



 h1{
  text-align: center; 
  text-shadow: 3px 3px 3px #010038;
  margin-top: -6rem;
  font-family: 'Righteous', cursive;
  color:violet;
 }

 #currentWord{
  font-family: 'Bowlby One SC', cursive;
  font-weight: 900;
  text-shadow: 2px 2px 3px #010038;

 }

 #gameOver{
  font-weight: 900;
 }

 .main{
  background-image: linear-gradient(57deg,#6807f9,#9852f9);
  border:2px solid;
  border-radius:1%;
  margin-top:2rem; 
  padding: 3rem; 
  box-shadow: 3px 3px 3px grey;
  border:2px solid #1a2849;
  position: relative;
 }

 input{
  width: 35%;
  height: 6vh;
  padding-left:0.7rem;
  border:2px solid #010038;
  border-radius: 5%; 
 }

 .success{
  color:green;
 }

 .failure{
  color: red;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 1px black;
 }

 h3{
  font-family: 'Cabin', sans-serif;
  font-weight: 900;
  letter-spacing:0.2rem;
  text-shadow: 3px 3px 2px #010038;
  color:orange;
 }

 input:focus{
   outline:none;
   border:2px solid green;
 }

 #instructions{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  background-color: transparent;
  border:none;
  letter-spacing:0.2rem;
  text-shadow: 1px 1px 2px #010038;
  color:orange;

 }

.stylingModal{
  background-color:black;
  width: 100%;
  border:2px solid violet;
}

.stylingModal ul{
  list-style-type: square;
  text-align: justify;
  list-style-position: inside;
}

ul li {
  margin-top: 1rem;
}

#footerModal{
    text-align:center;
    font-size:1rem;
}


/*the below code will remove the outline after user selected the mode */
#styleMode:focus{
  outline: none;
}

#styleMode{
  position: absolute;
  letter-spacing: 0.2rem;
  right:1rem;
  color:white;
  text-shadow: 3px 2px 3px black;
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
  background-color: transparent;
  border:none;
}

#modeModalFooter{
  text-align: center;
  font-size: 1rem;
}

#modeModal{
  background-color: black;
}

#footer{
  border:2px solid violet;
  font-size: 1.3rem;
  font-family: 'Cabin', sans-serif;
  text-align: center;   
  width: 100%;
  height: 10vh;
  background-color:white;
  margin-top: 6rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

#footer .icons{
            margin-top: -0.2rem;
}
